*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
html,body{
    height: 100%;
}
.container{
    
    display: flex;
    justify-content: center;
}
.item{
    margin-top: 20px;
    box-shadow: 1px 1px 50px 0px rgb(88, 92, 92);
}
.top{
    color:white;
    width:100%;
    text-align: center;
    height: 200px;
}
ul{
    list-style: none;
    
}
.middle{
    
    padding:10px;
    height: 100px;
    overflow-y: scroll;
    
}
.fa{
    cursor: pointer;
}
li{
    padding:10px;
    box-shadow: 0 0 3px 2px rgb(236, 243, 243);
    cursor: pointer;
}
li:hover{
    background-color: rgb(238, 245, 245);
}
.bottom{
    padding:10px;
    position: relative;
}
#progress{
    width:100%;
}

.bottom{
    display: flex;
    
    
}
#volume{
    position: absolute;
    right: -60px;
    bottom:80px;
    transform: rotate(270deg);
    display: none;
    
}
.fa-play-circle,.fa-pause-circle{
    align-items: center;
}
.fa-volume-up{
    margin-left: auto;
}